* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

div.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
div.content div.container {
    width: 100%;
    max-width: 480px;
    min-height: calc(100% - 60px);
    margin: 0 auto;
    padding: 36px;
    box-sizing: border-box;
}
div.content div.container img.main-image {
    display: block;
    width: 100%;
    max-width: 360px;
    height: 200px;
    border-radius: 8px;
    margin: 0px auto 32px auto;
}
div.content div.container div.question-number {
    color: #ee0290;
    font-size: 20px;
    font-family: 'noto-sans-kr';
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}
div.content div.container div.question {
    color: #242424;
    font-size: 20px;
    font-family: 'noto-sans-kr';
    font-weight: 700;
    word-break: keep-all;
    text-align: center;
    margin-bottom: 40px;
}
div.content div.container div.button-wrapper {
    width: 100%;
    max-width: 320px;
    margin: 0 auto 32px auto;
}
div.content div.container div.button-wrapper button {
    width: 100%;
    height: 64px;
    font-size: 16px;
    font-family: 'noto-sans-kr';
    font-weight: 700;
    border: 1px solid #ee0290;
    border-radius: 32px;
    background-color: #ffffff;
    color: #ee0290;
    transition: all 0.2s;
    word-break: keep-all;
    margin-bottom: 16px;
    padding: 0px 12px;
    cursor: pointer;
}
div.content div.container div.button-wrapper button:hover {
    background-color: #fbe2f0;
    opacity: 0.8;
}
div.content div.container div.button-wrapper button:focus {
    outline: none;
}
div.content div.container div.count {
    text-align: right;
    margin-bottom: 12px;
}
div.content div.container div.count span {
    color: #5e5e5e;
    font-size: 16px;
    font-family: 'noto-sans-kr';
    font-weight: 700;
}
div.content div.container div.progress {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: #eeeeee;
    margin-bottom: 32px;
}
div.content div.container div.progress div.progress-inner {
    height: 100%;
    border-radius: 4px;
    background-color: #ee0290;
    transition: all 0.5s;
}
div.content div.footer {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
}
div.content div.footer span {
    font-size: 14px;
    font-family: 'noto-sans-kr';
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'noto-sans-kr';
    font-weight: 300;
    src: url('../font/noto-sans-kr-300.woff2') format('woff2');
}

@font-face {
    font-family: 'noto-sans-kr';
    font-weight: 400;
    src: url('../font/noto-sans-kr-400.woff2') format('woff2');
}

@font-face {
    font-family: 'noto-sans-kr';
    font-weight: 700;
    src: url('../font/noto-sans-kr-700.woff2') format('woff2');
}
